.transactionHistory {
    text-align: center;
    margin-left: 10px;
    border: 1px solid rgb(0, 161, 182);   
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(173, 161, 161);
    width: 450px;
}

.tHead {
    text-transform: uppercase;
    background-color: rgb(104, 174, 221);
}

.tHeader {
    padding: 20px;
}

.row{
    border: 1px solid rgb(3, 172, 194);
}

.tData{
    padding: 10px;
    border: 0px solid rgb(0, 161, 182);
}

.row:nth-child(even) {
    background-color: rgb(217, 227, 228);
  }